{% extends 'base.html' %} {% load static %} {% block title %} Covid19 Tracker 
{% endblock %} {% block css %}
<!-- <link rel="stylesheet" href="{% static 'mainapp/stock_tracker.css' %}" /> -->
{% endblock %} {% block body %}

<div class="container">
  <h1>Live Covid19 Tracker</h1>
  <form style="margin-top:30" action="/demo/covid">
    <label for="country" class="form-label">Select Country:</label>
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" name="country" id="country" list="countries" />
    </div>
    <datalist id="countries">
    {% for country in data%}
        <option value="{{country.Country}}">{{country.Country}}</option>
    {% endfor %}
    </datalist>
    <br />
    <div class="d-grid gap-2">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </form>
</div>
{% endblock %} {% block js %} {% endblock %}